"*":
  core:
    audioBeep: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    uriHandlerRegistration: "always"
  "exception-reporting":
    userId: "e5355d7c-590c-4e6d-a467-979bc2c4cfd5"
  "sync-settings":
    _lastBackupHash: "fbf86659667b7d6669f13fd11a8f1fbac92767f3"
    gistId: "5d830a9339d1e55854fe6b1c6aa4166c"
    personalAccessToken: "7ab223c657440ff145f9c840e65ac94bc6c356e8"
    syncSettings: false
  welcome:
    showOnStartup: false
